/* below goes the styling of sentences */

div[class~=sentences-div] {
    position: absolute;
    left: 0px;
    top: 0px;
}


div.display-box[class~=txt] {
    z-index: auto;    
    position: absolute; 
    width: 500px;
    background-color: white;
    padding: 5px 5px 5xp 5px;

}

div.display-box[class~=search] {
    z-index: auto;
    position: relative; 
    width: 600px;
    margin: 8px 5px 8px 5px;
    background-color: white;
    padding: 5px 5px 5xp 5px;

}

div.display-box[class~=txt] div.content[class~=text-box] {
    
    padding: 5px 10px 5px 10px;

}
/* div.display-box[class~=txt]:hover { */
/*     background-color: white;     */

/* } */
div.display-box[class~=txt] div[class~=sentence-details] {
    /* background-color: #E0E8F0; */
    background-color: #33334C;
    color: white;
    font-size: small;
    padding: 3px 10px 3px 10px;
}
div.display-box[class~=txt] div[class~=text-box] {
    padding-top: 8px;
    padding-bottom: 8px;
}
div.display-box div[class~=sentence-footer] {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: blue;
    font-size: small;

    padding: 3px 10px 3px 10px;
}
div.display-box[class~=txt] div[class~=sentence-footer] {
    background-color: #EBEB99;
}
div.display-box[class~=search] div[class~=sentence-footer] {
    background-color: #white;
}


div.display-box[class~=txt] span {
    white-space: pre-wrap;
    font-family: 'Open Sans', sans-serif;

    font-size: 14px;
    line-height: 20px;
    color: black;
}



div.color-dot[class~=txt] {
    position: absolute !important;
    height: 10px !important;
    width: 10px !important;
    z-index: 25000;
    background-color: red !important;
}


